<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Art Gallery</a>
      </div>
      <!-- <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['documents']" >Documents</a></li>
        <li routerLinkActive="active"><a [routerLink]="['messages']" >Messages</a></li>
        <li routerLinkActive="active"><a [routerLink]="['contact']" >Contacts</a></li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
         <li routerLinkActive="active"><a [routerLink]="['create']" > <h4>Create</h4></a></li>
      </ul>
    </div>
  </nav>