<div class="panel panel-default">
  <div class="panel-body">
    <form id="art-create" (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="title">Title</label>
          <input type="text" 
          id="title"  
          class="form-control" 
          size="120" 
          max="120" 
          #title 
          [(ngModel)]="gallery.title" 
          [ngModelOptions]="{standalone: true}">
        </div>

        <div class="col-sm-12">
          <label for="image"> Insert Image Address </label>
          <input type="text" 
          id="image" 
          class="form-control" 
          size="120" 
          max="255" 
          #image
          [(ngModel)]="gallery.imageFile"
          [ngModelOptions]="{standalone: true}">
          <!-- <button class="btn btn-primary" type="button" (click)="filePicker.click()">Select an Image</button>
            <input type="file" #filePicker (change)="onImageChange($event)"> -->
        </div>

        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
            <img [src]="imagePreview" [alt]="form.value.title">
        </div>

        <div class="col-sm-12 form-group">
          <label for="description">Description</label>
          <input type="text" 
          id="description" 
          class="form-control" 
          size="120" 
          max="255" 
          #description
          [(ngModel)]="gallery.description"
          [ngModelOptions]="{standalone: true}">
        </div>

        <!-- <div class="alert alert-danger" *ngIf="f.touched && !f.valid">
            <span>The title is required</span>
        </div> -->

      </div>
      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit"> Save </button>
          <!-- <button class="btn btn-warning" type="button" (click)="onClear()"> Clear Form </button> -->
          <button class="btn btn-danger" type="button" (click)="onCancel()"> Cancel </button>
        </div>
      </div>
    </form>
  </div>
</div>